<div class="container mt-4">
  <h1 class="text-center mb-4" style="font-family: 'Poppins', sans-serif; color: #2c3e50;">Bienvenue dans l'espace admin</h1>

  <div class="row">
    <!-- Carte pour gérer les articles -->
    <div class="col-md-6 mb-4">
      <div class="card neumorphic-card">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 1.4rem; color: #2c3e50;">Gérer les Articles</h5>
          <p class="card-text" style="color: #7f8c8d;">Créez, modifiez ou supprimez des articles.</p>
          <div class="d-flex justify-content-between">
            <%= link_to "Nouveau", new_admin_article_path, class: "btn neumorphic-btn" %>
            <%= link_to "Gérer", admin_articles_path, class: "btn neumorphic-btn" %>
          </div>
        </div>
      </div>
    </div>

    <!-- Carte pour gérer les tags -->
    <div class="col-md-6 mb-4">
      <div class="card neumorphic-card">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 1.4rem; color: #2c3e50;">Gérer les Tags</h5>
          <p class="card-text" style="color: #7f8c8d;">Créez, modifiez ou supprimez des tags associés aux articles.</p>
          <div class="d-flex justify-content-between">
            <%= link_to "Nouveau", new_admin_tag_path, class: "btn neumorphic-btn" %>
            <%= link_to "Gestion", admin_tags_path, class: "btn neumorphic-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
