<h1>Bienvenue dans l'espace admin</h1>

<div class="admin-actions">
  <%= link_to "Créer un article", new_article_path, class: "btn btn-primary" %>
  <%= link_to "Créer un tag", new_tag_path, class: "btn btn-primary" %>
</div>
