.banner-container {
  margin-top: 20px;
}

.banner-card {
  width: 60vw;
  height: 50vh;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-image-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.banner-no-image {
  text-align: center;
  color: #999;
}

.banner-content {
  position: absolute;
  bottom: 0;
  background: rgba(226, 223, 223, 0.8);
  color: rgb(26, 24, 24);
  width: 100%;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.banner-card:hover .banner-content {
  background: rgba(220, 218, 218, 0.9);  /* Ajustement de la couleur avec la bonne syntaxe */
}

.banner-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.banner-card:hover .banner-logo,
.banner-image-container:hover .banner-logo,
.banner-content:hover .banner-logo {
  opacity: 1;  /* Le logo devient visible sur le texte aussi */
}

.banner-meta {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.banner-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.banner-text {
  font-size: 1rem;
}
