/* BANNER */

.banner-card {
  width: 60vw; /* Carte prend 70% de la largeur de la fenêtre */
  height: 60vh; /* Hauteur de la carte à 25% de la hauteur de la fenêtre */
  border-radius: 0; /* Pas d’arrondi pour la carte */
  overflow: hidden;
  position: relative;
  margin-left: auto; /* Centrage horizontal automatique */
  margin-right: auto; /* Centrage horizontal automatique */
  display: flex;
  justify-content: center; /* Centrer le contenu horizontalement */
  align-items: center; /* Centrer le contenu verticalement */
}

/* Conteneur de l'image de la bannière */
.image-banner {
  width: 100%;
  height: 100%; /* Hauteur de l'image sur toute la carte */
  object-fit: cover;
}


/* Image de la bannière */
.card-banner-top {
  width: 100%; /* Prend toute la largeur de la carte */
  height: 100%; /* Hauteur égale à la carte */
   /* Couvre l'espace sans déformer l'image */
}



/* Image de la bannière */
.card-img-top {
  width: 100%; /* Prend toute la largeur de la carte */
  height: 100%; /* Hauteur égale à la carte */
  object-fit: cover; /* Couvre l'espace sans déformer l'image */
}

/* Logo superposé sur l'image */
.logo-animation {
  width: 100px; /* Taille fixe du logo */
  bottom: 10px; /* Décalage depuis le bas */
  left: 10px; /* Décalage depuis la gauche */
  opacity: 0; /* Invisible par défaut */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transition douce pour l’apparition */
  position: absolute;
}
/* Affichage du logo uniquement au survol de l'image */
.image-container:hover .logo-animation {
  opacity: 1; /* Le logo devient visible */
  transform: translateY(0); /* Restauration de la position */
}


