/* Navbar principale */
.custom-navbar {
  background-color: #F9F9F9  !important;
  opacity: 1;
  padding: 20px 0; /* Espacement global pour une apparence propre */
  display: flex;
  flex-direction: column; /* Organisation verticale */
  align-items: center; /* Centre tous les enfants horizontalement */
}

/* Logo centré */
.navbar-logo-container {
  margin-bottom: 20px; /* Espace entre le logo et les boutons */
}

.navbar-logo {
  max-height: 100px; /* Ajuste la taille du logo */
  height: auto;
  display: block;
  margin: 0 auto; /* Centre horizontalement */
}

/* Boutons/liens centrés */
.navbar-buttons {
  margin-top: 10px; /* Espace au-dessus des boutons */
}

.navbar-buttons ul {
  list-style: none; /* Supprime les puces */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; /* Aligne les boutons horizontalement */
  justify-content: center; /* Centre les boutons horizontalement */
  gap: 20px; /* Espace uniforme entre les boutons */
}

.navbar-buttons .nav-link {
  font-size: 16px; /* Taille de la police des liens */
  padding: 5px 15px; /* Espacement intérieur pour un clic confortable */
  text-align: center;
}

.navbar{
  background-color: #F9F9F9  !important;
  opacity: 1;
}

/* MODIFICATION ENCOURS */

/* Style par défaut du menu */
.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
}

.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
}
