.container {
  background: #f1f1f1;
  color: #f8f9fa;
}

/* Le logo est sticky mais ne se déplace pas avec la page */
.logo-container {
  position: sticky;
  top: 0; /* Colle le logo en haut */
  background-color: #fff; /* Pour un fond blanc derrière le logo */
  z-index: 999; /* Le logo reste au-dessus de tout */
  padding: 20px 0; /* Un peu de padding pour donner de l'espace autour du logo */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre pour séparer du contenu */
}

/* Le logo lui-même */
.navbar-logo {
  max-width: 200px; /* Ajuste la taille du logo */
  height: auto;
}

/* La navbar est sticky, mais commence juste après le logo */
.custom-navbar {
  position: sticky;
  top: 60px; /* Décalage en dessous du logo (ajuste cette valeur en fonction de la hauteur de ton logo) */
  background-color: #f8f9fa; /* Fond de la navbar */
  z-index: 998; /* Moins élevé que celui du logo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère pour la navbar */
  padding: 10px 0; /* Un peu de padding pour la navbar */
}

/* Personnalisation de la navbar */
.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.navbar-nav .dropdown-menu {
  min-width: 200px; /* Ajuste la largeur du menu dropdown */
}

.navbar-nav .dropdown-item:hover {
  background-color: #f1f1f1;
}

/* Connexion/Déconnexion */
.navbar-nav .nav-item .btn-link {
  color: #007bff;
}
.nav-item{
  margin-left: 15px;
  margin-right: 15px;
}
